@import "tailwindcss";

:root {
    --left-main-color: #e0deda;
    --right-main-color: #dcdbd7;
}

body {
    background-image: linear-gradient(to right, var(--left-main-color), var(--right-main-color));
}